/* @import url  */

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-bg: rgba(255, 255, 255, 0.);
    
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: all 400ms ease;

}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Encode Sans Expanded', sans-serif;
    background: #000;
    line-height:1.7;
    color: #fff;
}

section{
    margin-top: 50px;
    text-align: center;
}

section>h2, 
section>h5 {
    text-align: center;
    color: var(--color-light);
}
section > h2{
    color: var(--color-primary);
    font-size: 2.5rem;

    /* margin-bottom: 20px; */
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

.horoscope_aries_container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.left_column{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    /* background: linear-gradient(
        45deg, 
        transparent, 
        var(--color-primary),
        transparent
    ); */
    display: grid;
    place-items: center;
}

.aries_image{
    border-radius: 30px;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.aries_image:hover{
    transform: rotate(0);
}

.right_column{
    margin: 2rem 0 2.6rem;
}

.horoscope h3{
    margin: 2rem 0 1rem;
    font-size: 16px;
    color: var(--color-light);
}

.aries_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    cursor: pointer;
}

.card{
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 20px;

    text-align: center;
    transition: var(--transition);
    border-color: #B762C1;

}
.card:hover{
    background: transparent;
    background: #B762C1;

    /* border-color: #fff; */
}

.aries_icon{
    color: var(--color-primary);
    font-size: 1.4rem ;
    margin-bottom: 1rem;

}

.card h5{
    font-size: 0.95rem;
}

.card small{
    font-size: 0.7rem;
    color: var(--color-light);
}
