
  .dropdown_container {
    width: 100%;
  }
  .dropdown {
    width: 310px;
    user-select: none;
    margin: 20px auto;
    position: relative;
    
  }
  .dropdown .dropdown-btn {
    padding: 10px 20px;
    background: #B762C1;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 600;
    color: #fff;
    /* display: flex; */
    /* align-items: center; */
    cursor: pointer;
    /* justify-content: space-between; */
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #000;
    width: 100%;
    border-radius: 20px;
    text-align: center;
  }
  .dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .dropdown .dropdown-content .dropdown-item:hover {
    background: #f4f4f4;
    
  }
  